.paginationBttns {
	width: 80%;
	list-style: none;
	display: flex;
	justify-content: center;
}

.paginationBttns a {
	padding: 8px 13px;
	margin: 8px;
	border-radius: 4px;
	color: rgba(152, 168, 179);
	cursor: pointer;
	font-weight: 500;
}

.paginationBttns a:hover {
	background-color: rgba(152, 168, 179, 0.2);
}

.paginationActive a {
	color: white;
	background-color: #042e4e;
}

.paginationActive a:hover {
	color: white;
	background-color: #042e4e;
}

.paginationDisabled a {
	color: rgba(152, 168, 179, 0.35);
}

.paginationDisabled a:hover {
	background-color: transparent;
	cursor: default;
}
